streamlit>=1.28.0
joblib>=1.3.0
opensmile>=2.5.0
openai-whisper>=20231117
pandas>=2.0.0
numpy>=1.24.0
librosa>=0.10.0
pydub>=0.25.1
spacy>=3.7.0
jieba>=0.42.1
lexicalrichness>=0.5.1
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
https://huggingface.co/spacy/zh_core_web_sm/resolve/main/zh_core_web_sm-any-py3-none-any.whl
